<!DOCTYPE html>
<html ng-app='app'>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/navbar.css">

<head>
    <title></title>
</head>

<body ng-controller='globalController as g'>
    <nav>
        <a ui-sref='Home'>Home</a>
        <a ui-sref='Login'>login</a>
        <a ui-sref='Register'>register</a>
    </nav>
    <ui-view></ui-view>
</body>
<script src='angular/angular.js'></script>
<script src='angular-ui-router/release/angular-ui-router.js'></script>
<script src="/javascript/app.js"></script>
<!-- factories -->
<script src="/javascript/factories/userFactory.js"></script>
<!-- Controllers -->
<script src="/javascript/controllers/globalController.js"></script>
<script src="/javascript/controllers/userController.js"></script>

</html>
